[Unit]
Description=btcticker
After=network.target
# Hopefully it should be enforced soon: https://github.com/systemd/systemd/issues/5097
Wants=time-sync.target

[Service]
ExecStart=/home/admin/run.sh
WorkingDirectory=/home/admin/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=admin
TimeoutStartSec=120s
TimeoutStopSec=120s
StartLimitInterval=5min
StartLimitBurst=20
# Turn it on only when you are absolutely and positively sure that this service works tip-top, otherwise you may experience reboot loop
#StartLimitAction=reboot
# Watchdog unleashed. The value must not be lower than 60s + some time to eventually get data
WatchdogSec=180s
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target


