
[Unit]
Description=remount file system rw
ConditionPathExists=/boot/rw
Before=dhcpcd.service
After=systemd-rfkill.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/mount -o remount,rw /
ExecStart=/usr/bin/mount -o remount,rw /boot

[Install]
WantedBy=multi-user.target

